<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
      <h1>Tetelestai</h1>
      <div class="row">

    <a href="/autenticar" class="first-cadastrar">Cadastrar</a>
    <a href="/lista" class="lista">Produtos</a>
  </div>
</div>

<div class="name">
<form action="/cadastrar" method="post" class="form-cadastrar">
<h2 class="form">Cadastra-se<span>na Tetelestai</span></h2>
<input type="text" name="nome" placeholder="Nome">
<input type="text" name="usuario" placeholder="Email">
<input type="password" name="password" placeholder="Senha">
<button type="submit" class="botão">Cadastrar</button>
</form>

<article>
  <img src="/img/autenticar.png" class="there-image" width="400px">
</article>

</div>

</body>
</html>