<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Principal</title>
</head>
<body>
<div class="home-principal">
  <div class="cabecalio">

  <h1>Tetelestai</h1>

<div class="cabecalio-menu">

  <a href="/cadastrar"> Cadastrar Produto</a>
  <a href="/listar"> Lista de Produtos</a>
  
</div>
  </div>
<div class="navbar">

<h1>Site de Cadastro Tetelestai</h1>

<p> Esse site tem o principal objetivo, que o Usuário possa cadastrar
  produtos de seu interrese, colocar o preço, imagem. Uma forma de 
  saber os produtos que irão para seu mercado.<p>
    <p> Espero que Aproveite o site!!</p>
</div>

</div>
</body>
</html>