<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
      <h1>Tetelestai</h1>
      <div class="row">
    <a href="/cadastro" class="first-cadastrar">Cadastrar</a>
    <a href="/lista" class="lista">Usuários</a>
</div>
</div>

<div class="name">
<form action="/logar" method="post" class="form-cadastro">

<h2 class="form">Autentica-se agora<br><span>na Tetelestai</span></h2>
<input type="text" name="user" placeholder="Email">
<input type="password" name="password" placeholder="Senha">
<button type="submit" class="botão">Autenticar</button>
<a href="/inscrever" class="não-cadastro">Não tenho cadastro :)</a>
</form>


<article>
  <img src="/img/autenticar.png" class="there-image" width="400px">
</article>
</div>

</body>
</html>