<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
    <img src="https://pixel.cuboup.com/wp-content/uploads/edd/2022/04/Icone-Formulario-150x150.jpg" 
    width="80" height="80">
    <h1 class="cor">Ola, Seja Bem Vindo</h1>
    <a href="/cadastro" class="inscrever">Cadastrar</a><img src="http://www.agecefrio.com.br/novo-site/app/icones/associese-branco.png"
    width="50" height="50" class="image">
</div>
</div>

<div class="name">
<form action="/logar" method="post">
<h2 class="pet2">Formulario de Autenticação</h2>
<label class="top">Email:</label>
<input type="text" name="user" placeholder="Digite seu Email">
<br>
<label>Senha:</label>
<input type="password" name="password" placeholder="Digite sua senha">
<br>
<button type="submit" class="botão">Autenticar</button>
<img src="https://img.icons8.com/color/344/facebook-new.png" class="second-image">
<br></br>
<a href="/inscrever" class="não-cadastro">Não tenho cadastro :)</a>
</form>
<br>
</div>

</body>
</html>